.typebox {
  height: 20px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .14);
  background-color: AliceBlue;
  font-size: 14px;
}

.btn {
  font-size: 12px;
  font-family: sans-serif;
  border: 4px;
}

.para {
  font-size: 25px;
  font-family: serif;
  font-style: italic bold;
}
